<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.bvr.rag.jboss.ejb3.entity.onetoone/src/examples/entity/bid/one_to_one/client/OrderShipmentClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="examples.entity.bid.one_to_one.client.OrderShipmentClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.bvr.rag.jboss.ejb3.entity.onetoone"/>
</launchConfiguration>
